.container{
  width: 100vw;
  position: fixed;
  z-index: 2;
}

.show{
  display: inline-block;
}

.hide{
  display: none;
}

.nav{
  background-color: #F75A00;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

@media (min-width: 1300px){
  .container{
    display: flex;
    justify-content: end;
    background-color: #F75A00;
  }

  .nav{
    display: none;
  }
}
