.menu_container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: white;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  z-index: 86;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.show{
  right: 0;
}

.hide{
  right: -100%;
}

.item a{
  text-decoration: none;
  color: black;
}

.domicile{
  background-color: #357401;
  width: 90%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.domicile a{
  text-decoration: none;
  color: white;
}

@media (min-width: 1300px) {
  .menu_container{
    position: static;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .info{
    display: none;
  }

  .item a{
    font-size: 1.2rem;
    color: white;
  }

  .domicile a{
    font-size: 1.2rem;
    color: white;
    width: auto;
  }

  .domicile{
    padding: 0;
    width: auto;
    background-color: transparent;
  }
}