.container_image{
  position: relative;
}

.movil_image{
  width: 100vw;
  height: 65vh;
}

.desktop_image{
  display: none;
}

@media (min-width: 1300px){
  .container__image{
    display: inline-block;
    position: fixed;
    width: 100vw;
  }

  .desktop_image{
    display: inline-block;
    height: 100vh;
    width: 55vw;
  }

  .movil_image{
    display: none;
  }
}